.blog {
  &-container {
    max-width: 998px;
    margin: 4rem auto;
  }

  &-link {
    text-align: left;
  }

  &-item {
    &-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60% !important;
      margin: 0 auto;
      align-items: center;

      p,
      li,
      a,
      span {
        font-size: 2rem;
        line-height: 1.3;
      }

      p,
      ul,
      h2 {
        margin: 0 4rem 4rem;
        text-align: left;
      }

      h2 {
        font-size: 4rem;
        color: $hotpink;
      }
    }

    &-title {
      font-size: 8rem;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 8rem;
    }

    &-header {
      background: transparent;
      position: absolute;
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 8rem;
      }
    }

    &-main {
      width: 80%;
      margin-left: 0;
      margin-right: auto;
      padding-bottom: 8rem;

      iframe {
        width: 100% !important;
        height: auto !important;
      }
    }

    &-img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-title {
    position: relative;
    min-height: 12rem;
  }

  /* &-date {
    position: absolute;
    bottom: 0;
  } */
}

.nocomments {
  display: none;
}

.article-img {
  margin-bottom: 1rem;
  height: 20rem;
}
