.footer {
  background: $ggwhite;
  color: $ggblack;

  @include mobile {
    padding-left: 16rem;
    padding-bottom: 40rem;
  }

  &-container {
    padding: 6rem;
    padding-bottom: 0;
  }

  &-link {
    margin-bottom: 1.6rem;
    color: $ggblack;
    font-weight: 600;

    @include mobile {
      font-size: 8rem;
    }
  }

  &-brand {
    width: auto;
    margin-right: auto;
    padding: 4rem 0 8rem;

    &-title {
      padding-left: 1.6rem;
      color: $ggblack;
      font-size: $logo;
      font-weight: 700;
      line-height: 1;
    }
  }

  &-widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8rem;

    @include mobile {
      padding-top: 16rem;
    }

    &-centered {
      justify-self: center;
    }

    .row {
      @include mobile {
        width: 100%;
        padding-left: 8rem;
      }
    }
  }

  &-title {
    color: $ggblack;
    font-size: $big;
    font-weight: 700;
    padding-bottom: 1.6rem;

    @include toLarge {
      font-size: $big;
    }

    @include mobile {
      font-size: 12rem;
      line-height: 16rem;
      padding-top: 8rem;
    }
  }

  &-paragraph {
    font-size: $big;
    line-height: $bigger;
    margin-bottom: 1.6rem;

    @include mobile {
      font-size: 8rem;
      line-height: 12rem;
      // padding-top: 8rem;
      // padding-bottom: 8rem;
    }
  }

  &-qr {
    width: 100%;
    display: block;
    padding-left: 0;

    /* &-img {
      margin-left: -8rem;
    } */
  }

  &-gruppo {
    flex-direction: column;

    @include mobile {
      padding-top: 32rem;
      padding-bottom: 32rem;
      display: none;
    }

    &-logo {
      width: 12rem;
      margin-bottom: 1.6rem;

      @include mobile {
        width: 80rem;
        height: auto;
        margin-bottom: 16rem;
      }
    }
  }
}

#qr {
  margin-left: 0;
  padding-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.cls-a {
  fill: none;
  stroke: $ggblack;
  stroke-width: 4px;

  &:hover {
    stroke: $orange;
  }
}

.cls-2 {
  fill: $ggblack;
}

.cls-3 {
  stroke: none;
}

.cls-4 {
  fill: none;
}

#icon-fb,
#icon-tw,
#icon-li,
#icon-ig {
  fill: $hotpink;
  width: 24rem;
  margin-left: -10rem;

  @include mobile {
    height: 32rem;
    margin-left: 0;
  }

  &:hover {
    fill: $orange;
  }
}

.social-col {
  padding-left: 0;
  padding-right: 4rem;

  @include toLarge {
    padding: 1.2rem;
  }

  @include mobile {
    margin-top: 16rem;
    padding: 8rem;
  }
}

.social-links {
  @include mobile {
    padding-left: 0;
  }
}
