/* Import */

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap");

/* General */

.container,
.nav,
footer {
  max-width: 1600px;
  margin: auto;

  @include toQHD {
    min-width: 80% !important;
  }
}

section {
  padding-bottom: 8rem;
}

.spacer {
  background: transparent;
  height: 3.2rem;
}

.spacer2 {
  background: transparent;
  height: 6.4rem;

  &-on-mobile {
    background: transparent;
    height: 6.4rem;
    display: none;

    @include mobile {
      display: block;
    }
  }
}

.spacer-8 {
  min-height: 8rem;
}

.spacer-12 {
  min-height: 12rem;
}

.spacer-16 {
  min-height: 16rem;
}

.spacer-32 {
  min-height: 32rem;
}

.spacer-64 {
  min-height: 64rem;
}

.blue {
  color: $mainblue;

  &-outline {
    color: $mainblue;

    @supports (-webkit-text-stroke: 1px $mainblue) {
      -webkit-text-stroke: 2px $mainblue;
      -webkit-text-fill-color: $ggblack;
    }
  }
}

.hotpink {
  color: $hotpink !important;
}

.orange {
  color: $orange;

  &-outline {
    color: $orange;

    @supports (-webkit-text-stroke: 1px $orange) {
      -webkit-text-stroke: 2px $orange;
      -webkit-text-fill-color: $ggblack;
    }
  }
}

.pink {
  color: $hotpink;

  @supports (-webkit-text-stroke: 1px $hotpink) {
    -webkit-text-stroke: 2px $hotpink;
    -webkit-text-fill-color: $ggblack;
  }
}

h1.white-outline {
  color: $ggwhite;

  @supports (-webkit-text-stroke: 1px $ggwhite) {
    -webkit-text-stroke: 2px $ggwhite;
    -webkit-text-fill-color: $ggblack;
  }
}

.paleorange {
  color: rgba($orange, 0.9);
}

.border-orange {
  border: 1px solid $orange;
}

.border-blue {
  border: 1px solid $mainblue;
}

.border-pink {
  border: 1px solid $hotpink;
}

.border-left {
  border-image: linear-gradient(#3f87a6, #e40d7e, #f69d3c) 1 / 0 0 0 1px;

  @include mobile {
    border: none !important;
  }
}

.mobile-spacer {
  display: none;

  @include mobile {
    display: block;
  }
}
