/* Header */
header {
  position: fixed;
  padding: 1.6rem 2.4rem;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 4;
  display: flex;
  align-items: flex-start;
  background: rgba($ggblack, 0.95);
  // backdrop-filter: blur(4px);
  padding-left: 0;

  @include toLarge {
    padding-left: 1.6rem;
    height: 16rem;
  }

  @include mobile {
    height: 32rem;
  }

  @include sm {
    height: 40rem;
  }
}

.tall-menu-item {
  margin-top: 2rem;
}

.social-bar {
  a {
    color: $orange !important;
    fill: $orange !important;
  }
}

.orange-menu-item {
  a {
    color: $orange !important;
  }
}

.nav {
  width: 100%;
  display: flex;
  color: $ggwhite;
  justify-content: space-between;
  padding: 0 2.4rem;
  background: rgba($ggblack, 0);
  // backdrop-filter: blur(4px);

  @include mobile {
    width: 100%;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  &-brand {
    width: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;

    &-logo {
      width: 9.6rem;

      @include toMid {
        width: 12rem;
      }

      @include mobile {
        width: 16rem;
      }

      @include sm {
        width: 24rem;
      }

      & img {
        height: 4.8rem;
        vertical-align: middle;

        &::before {
          color: transparent !important;

          &:hover {
            // display: none;
            color: transparent !important;
            width: 0;
          }
        }

        @include toMid {
          height: 16rem;
        }

        @include mobile {
          height: 32rem;
        }

        @include sm {
          height: 24rem;
        }
      }
    }

    &-name {
      max-width: 20ch;
      margin-left: -1.2rem;
      margin-top: -0.6rem;

      @include toLarge {
        padding-top: 0.8rem;
      }

      @include toMid {
        display: none;
      }

      @include mobile {
        display: none;
      }

      &-link {
        line-height: 0.8;
        font-size: 2.69rem;
        font-weight: 800;
        color: $ggwhite;
      }
    }
  }

  &-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include toLarge {
      margin-right: 1.6rem;
    }

    &-top {
      width: 3.2rem;
      height: 0.2rem;
      background: $hotpink;
      margin-bottom: 0.4rem;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      @include toLarge {
        height: 0.4rem;
      }

      @include toMid {
        width: 6rem;
        height: 0.6rem;
        margin-bottom: 0.6rem;
      }

      @include mobile {
        width: 8rem;
        height: 0.8rem;
        margin-bottom: 0.8rem;
      }

      @include sm {
        width: 16rem;
        height: 1.6rem;
        margin-bottom: 1.6rem;
      }
    }

    &-bottom {
      width: 3.2rem;
      height: 0.2rem;
      background: $hotpink;
      margin-top: 0.4rem;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      @include toLarge {
        height: 0.4rem;
      }

      @include toMid {
        width: 6rem;
        height: 0.6rem;
        margin-top: 0.6rem;
      }

      @include mobile {
        width: 8rem;
        height: 0.8rem;
        margin-top: 0.8rem;
      }

      @include sm {
        width: 16rem;
        height: 1.6rem;
        margin-top: 0.8rem;
      }
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: -50%;
    background: rgba($ggblack, 0.925);
    z-index: 3;
    transition: 0.4s ease-out;

    @include mobile {
      width: 100%;
      right: -100%;
    }

    &-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      & li a {
        font-size: $bigger;
        line-height: 6.4rem;

        @include toLarge {
          font-size: $title;
          line-height: 8rem;
        }

        @include toMid {
          font-size: 4rem !important;
        }

        @include mobile {
          font-size: $hero;
          line-height: 40rem;
          margin-left: -8rem;
        }
      }
    }
  }
}

.show-menu {
  transform: translateX(-100%);

  /* @include mobile {
    transform: translateX(-100%);
  } */
}

#burger.is-active .nav-burger-top {
  -webkit-transform: translateY(0.5rem) rotate(45deg);
  -ms-transform: translateY(0.5rem) rotate(45deg);
  -o-transform: translateY(0.5rem) rotate(45deg);
  transform: translateY(0.5rem) rotate(45deg);

  @include toMid {
    -webkit-transform: translateY(1.2rem) rotate(45deg);
    -ms-transform: translateY(1.2rem) rotate(45deg);
    -o-transform: translateY(1.2rem) rotate(45deg);
    transform: translateY(1.2rem) rotate(45deg);
  }

  @include mobile {
    -webkit-transform: translateY(2rem) rotate(45deg);
    -ms-transform: translateY(2rem) rotate(45deg);
    -o-transform: translateY(2rem) rotate(45deg);
    transform: translateY(2rem) rotate(45deg);
  }

  @include sm {
    -webkit-transform: translateY(4rem) rotate(45deg);
    -ms-transform: translateY(4rem) rotate(45deg);
    -o-transform: translateY(4rem) rotate(45deg);
    transform: translateY(4rem) rotate(45deg);
  }
}

#burger.is-active .nav-burger-bottom {
  -webkit-transform: translateY(-0.5rem) rotate(-45deg);
  -ms-transform: translateY(-0.5rem) rotate(-45deg);
  -o-transform: translateY(-0.5rem) rotate(-45deg);
  transform: translateY(-0.5rem) rotate(-45deg);
}
