.privacy {
  padding-top: 12rem;

  &-row {
    padding: 4rem;
    width: 100%;
    justify-content: center;

    &-top {
      @include mobile {
        padding-top: 80rem;
      }
    }

    &-bottom {
      @include mobile {
        padding-bottom: 40rem;
      }
    }
  }

  &-title {
    font-size: $title;
    color: $mainblue;
    text-transform: uppercase;

    @include toLarge {
      font-size: $bigTitle;
    }

    @include mobile {
      font-size: 16rem;
    }
  }

  &-col {
    padding: 4rem;

    @include mobile {
      padding-top: 32rem;
    }
  }

  &-subtitle {
    text-transform: uppercase;
    font-size: $bigger;
    color: $hotpink;
    margin-bottom: 4rem;

    @include toLarge {
      font-size: $title;
    }

    @include toQHD {
      font-size: $big;
    }

    @include mobile {
      font-size: 8rem;
    }
  }

  &-descr {
    font-size: $logo;
    line-height: 1.6;
    margin: 1.6rem;
    margin-left: 0;

    @include toLarge {
      font-size: $big;
    }

    @include mobile {
      font-size: 8rem;
    }
  }

  &-accordion {
    @include mobile {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }

  &-card {
    background: transparent;
    font-size: $logo;
    border: none;

    @include mobile {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

    &-header {
      background: transparent;
      border: none;
      padding-top: 4rem;
    }

    &-text {
      font-size: $logo;
      line-height: 1.6;

      @include mobile {
        font-size: 8rem;
      }

      &-subtitle {
        font-size: $logo;
        color: $mainblue;
        margin-top: 3.2rem;
        margin-bottom: 2.4rem;

        @include mobile {
          font-size: 8rem;
        }
      }

      &-list {
        list-style: none;
        padding-left: 0;
      }

      &-highlight {
        color: $orange;
      }
    }

    &-link {
      font-size: $logo;
      line-height: 1.6;
      color: $orange;

      @include mobile {
        font-size: 8rem;
      }

      &:hover {
        color: $mainblue;
      }
    }
  }

  &-btn {
    font-size: $bigger;
    font-weight: 600;
    color: $mainblue;
    text-decoration: none;
    padding-left: 0;

    @include toQHD {
      font-size: $logo;
    }

    @include mobile {
      font-size: 8rem;
    }

    &:hover {
      color: $mainblue;
      text-decoration: none;
    }

    svg {
      width: 3.2rem;
      height: 2.8rem;

      @include toLarge {
        width: 2.8rem;
        height: 2.4rem;
      }

      @include toQHD {
        width: 2rem;
        height: 1.6rem;
      }

      @include mobile {
        display: none;
      }
    }
  }
}
