.letter,
.strikethrough,
.blue-word,
.line1,
.line2,
.line3,
.line4 {
  display: inline-block;
  visibility: hidden;
}

.anim-box {
  visibility: hidden;
}

.please-scroll {
  animation: pleasescroll 2.5s ease-in-out 3s infinite;
}

@keyframes pleasescroll {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(-3px);
  }

  95% {
    transform: translateY(12px);
  }

  98% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
  }
}

.piuma {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4rem;

  &-env {
    position: relative;
  }
}

.hide-item {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.show-item {
  opacity: 1;
}

// .pleaseScrollRight {
//   animation: pleaseScrollRight 1s infinite ease-out;
// }

@keyframes pleaseScrollRight {
  0% {
    transform: scale(10) translateX(0);
  }

  30% {
    transform: scale(10) translateX(0.1rem);
  }

  60% {
    transform: scale(10) translateX(0);
  }

  100% {
    transform: scale(10) translateX(0);
  }
}

.invert {
  transform: rotate(180deg);
}

.at-angle {
  animation: atangle 0.5s ease-in-out 1s forwards;
  transform-origin: top left;
}

@keyframes atangle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

.approaching {
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  z-index: -1;
  animation: closer 6s ease-out forwards;
}

@keyframes closer {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(2);
    opacity: 1;
  }
}
