@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin toQHD {
  @media (min-width: 2000px) {
    @content;
  }
}

@mixin toXL {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin toLarge {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin toMid {
  @media (max-width: 992px) {
    @content;
  }
}

// @mixin tabletPortrait {
//   @media (min-height: 962px) and (min-width: 601px) {
//     @content;
//   }
// }

@mixin mobile {
  @media (max-width: 769px) {
    @content;
  }
}

@mixin mobile-landscape {
  @include mobile;
  @include landscape;
}

@mixin mobile-portrait {
  @include mobile;
  @include portrait;
}

@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

// @mixin tabletPortraitSmall {
//   @media (min-height: 720px) and (min-width: 540px) {
//     @content;
//   }
// }

@mixin olBlue {
  @supports (-webkit-text-stroke: 1px $mainblue) {
    @content;
  }
}

@mixin olOrange {
  @supports (-webkit-text-stroke: 1px $orange) {
    @content;
  }
}

@mixin olPink {
  @supports (-webkit-text-stroke: 1px $hotpink) {
    @content;
  }
}

@mixin modal {
  @media (min-width: 1024px) {
    @content;
  }
}
