.slider {
  position: relative;
  overflow: hidden;

  &-container {
    height: 100vh;
    display: inline-flex;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    will-change: transform;
    scrollbar-width: none;
    cursor: grab;
    // overflow: hidden;

    @include mobile {
      height: auto;
      margin-top: 16rem;
      margin-bottom: 16rem;
    }
  }
}

.slide {
  // padding-left: 4rem;
  width: 75vw;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // user-select: text;

  @include toQHD {
    width: 75vw;
  }

  img {
    display: flex;
    transition: transform 0.3s ease-in-out;
    // box-shadow: 5px 5px 5px -1px $shadow;
    // user-select: text;

    @include toQHD {
      width: 100%;
    }
  }

  // .descr {
  //   padding-left: 4rem;

  //   &-title {
  //     font-size: 8rem;
  //     color: $mainblue;
  //     margin-bottom: 4rem;
  //   }

  //   &-text {
  //     font-size: $big;
  //     line-height: $bigger;
  //   }
  // }
}

.grabbing {
  cursor: grabbing;

  .slide img {
    transform: scale(0.9);
    // box-shadow: 5px 5px 40px -1px $shadow;
  }
}

.scroll-left {
  position: absolute;
  top: 45%;
  left: 8rem;
  width: 8rem;
  height: 8rem;
  z-index: 99999;
  transform: rotate(180deg);
  transition: opacity 0.4s ease-out;
}
