.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100vh;

  h1,
  h2 {
    font-size: 10vw;
  }
}

.svg-container {
  width: 80%;
  height: 50%;
  // border: 1px dashed black;
}

// .svg-text {
//   font-size: 2rem;
// }

.test-title {
  color: $mainblue;
  font-size: 4rem;
  font-weight: 700;

  @supports (-webkit-text-stroke: 1px $mainblue) {
    -webkit-text-stroke: 2px $mainblue;
    -webkit-text-fill-color: $ggblack;
  }
}

.marquee,
.marquee-2 {
  overflow: hidden;

  h1,
  h2 {
    background-color: ggblack;
    flex-shrink: 0;
  }
}

.marquee-2 {
  min-height: 300vh;
}

.marquee-track,
.marquee-track-2 {
  align-items: center;
  display: flex;
  justify-content: center;
}

// Callout
.smooth-scroll-pause {
  min-height: 75vh;
}

.callout-content {
  display: flex;
  max-width: 90vw;
  padding: 10vw 0;
  width: 100%;

  img {
    width: 100%;
  }

  h3 {
    font-size: 5vw;
    margin: 20px 0;
    text-transform: uppercase;
  }

  p {
    font-size: 5vw;
    margin: 0;
  }
}

.callout-col {
  flex: 1;

  &:last-child {
    padding-left: 30px;
  }
}

// Demo 4
.horizontal-scroll {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.horizontal-panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;

  img {
    margin-top: auto;
    margin-left: auto;
    max-width: 60vw;
    max-height: 60vh;
    object-fit: contain;
  }

  &.a {
    background-color: aliceblue;
  }

  &.b {
    background-color: aquamarine;
  }

  &.c {
    background-color: antiquewhite;
  }

  &.d {
    background-color: thistle;
  }
}
