$grid-breakpoints: (
  md: 769px
);

$pink: #d03f90;
$lightblue: rgb(84, 139, 200);
$mainblue: #0094d8;
$ggblack: #1e2122;
$ggwhite: #f0f5f7;
$hotpink: #e6007e;
$orange: #f59e00;
$gggradient: linear-gradient(0.25turn, #3f87a6, #e40d7e, #f69d3c);
$shadow: rgba(84, 139, 200, 0.2);

/* Font/text values */
$barlow: "Barlow";
$oswald: "Oswald";
$hero: 12rem;
$bigTitle: 6.4rem;
$title: 4rem;
$bigger: 3.2rem;
$big: 2.4rem;
$logo: 2rem;
$mid: 1.6rem;
$small: 1rem;
$size: calc(100vw / 1920 * 10);
