.about {
  width: 100%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-bottom: 8rem;
  // border: 1px solid blue;

  &-bg {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    // &-img {
    //   opacity: 0.4;
    // }
  }

  &-wrapper {
    width: 33%;
    position: absolute;
    bottom: 8rem;
    left: 8rem;
    background: transparent;
    padding: 4rem;

    @include mobile {
      width: 100%;
      bottom: 40rem;
    }

    &-new {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-left: 2rem;

      @include toXL {
        padding-left: 4rem;
      }

      @include mobile {
        padding-left: 8rem;
        padding-right: 8rem;
      }
    }

    &-descr {
      padding: 4rem;
      position: absolute;
      bottom: 8rem;
      right: 8rem;
      background: transparent;

      @include toQHD {
        right: 10%;
        background: transparent;
      }

      @include mobile {
        bottom: 40rem;
      }
    }

    &-descr-selected-work {
      max-width: 30%;
      padding: 4rem;
      position: absolute;
      top: 8rem;
      left: 0;
      background: rgba($orange, 0.95);

      @include toQHD {
        right: 10%;
        background: transparent;
      }

      @include mobile {
        bottom: 40rem;
      }
    }
  }

  &-text {
    font-size: $bigger;
    line-height: 4.8rem;

    @include toMid {
      font-size: 8rem;
      line-height: 16rem;
      margin-right: 4rem;
    }

    // @include toLarge {
    //   font-size: $title;
    //   line-height: 6.4rem;
    // }

    // @include toQHD {
    //   font-size: $big;
    //   line-height: $bigger;
    // }

    @include mobile {
      font-size: 12rem;
      line-height: 16rem;
      margin-right: 4rem;
    }

    // &-small {
    //   font-size: $mid;
    //   line-height: $logo;

    //   @include toLarge {
    //     font-size: $logo;
    //     line-height: $bigger;
    //   }

    //   @include mobile {
    //     font-size: 8rem;
    //     line-height: 12rem;
    //     margin-bottom: 8rem;
    //   }
    // }
  }

  &-text-selected-work {
    font-size: $big;
    line-height: 3.2rem;
    color: $ggblack;
    text-align: left;

    @include toMid {
      font-size: 8rem;
      line-height: 16rem;
      margin-right: 4rem;
    }

    // @include toLarge {
    //   font-size: $title;
    //   line-height: 6.4rem;
    // }

    // @include toQHD {
    //   font-size: $big;
    //   line-height: $bigger;
    // }

    @include mobile {
      font-size: 12rem;
      line-height: 16rem;
      margin-right: 4rem;
    }

    // &-small {
    //   font-size: $mid;
    //   line-height: $logo;

    //   @include toLarge {
    //     font-size: $logo;
    //     line-height: $bigger;
    //   }

    //   @include mobile {
    //     font-size: 8rem;
    //     line-height: 12rem;
    //     margin-bottom: 8rem;
    //   }
    // }
  }

  // &-col {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: space-around;
  // }

  // &-descr {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-end;
  //   height: 100%;
  //   width: 70%;

  //   @include toLarge {
  //     width: 80%;
  //   }

  //   @include mobile {
  //     width: 100%;
  //     padding-top: 40rem;
  //     padding-bottom: 40rem;
  //   }

  // &-text {
  //   font-size: $bigger;
  //   line-height: 4.8rem;

  //   @include toLarge {
  //     font-size: $title;
  //     line-height: 6.4rem;
  //   }

  //   @include toQHD {
  //     font-size: $big;
  //     line-height: $bigger;
  //   }

  //   @include mobile {
  //     font-size: 12rem;
  //     line-height: 16rem;
  //   }

  //   &-small {
  //     font-size: $mid;
  //     line-height: $logo;

  //     @include toLarge {
  //       font-size: $logo;
  //       line-height: $bigger;
  //     }

  //     @include mobile {
  //       font-size: 8rem;
  //       line-height: 12rem;
  //       margin-bottom: 8rem;
  //     }
  //   }
  // }
  // }

  &-cta {
    // margin-top: 4rem;
    // margin-bottom: -8rem;
    text-align: center;
  }
}
