#wpadminbar * {
  @include toQHD {
    font-size: 1.6rem !important;
    margin-right: 0.4rem !important;
  }

  a {
    @include toQHD {
      font-size: 1.6rem !important;
    }
  }
}

#wp-admin-bar-wp-logo img {
  @include toQHD {
    width: 400% !important;
    height: 400% !important;
  }
}
