// button {
//   border-radius: 3.2rem;
//   font-weight: 500;
//   text-align: center;
//   padding: 1.2rem 6.4rem;

//   @include toLarge {
//     border-radius: 4.8rem;
//     padding: 1.6rem 7.2rem;
//   }

//   @include sm {
//     padding: 4rem 12rem;
//     border-radius: 12rem;
//   }
// }

// .button-span {
//   font-size: $big;

//   @include sm {
//     font-size: 8rem;
//   }
// }

.arrow {
  margin-left: 1.2rem;
  margin-right: 0;
  transform: rotate(0);
  // transform: scale(5) translateY(0.625rem);
  // fill: $ggwhite;
  // transform: scale(1.2) translateY(-0.2rem) translateX(0);
  // transition: all 0.1s ease-out;

  @include toLarge {
    transform: scale(1) translateY(-0.2rem) translateX(0);
  }

  @include toXL {
    transform: scale(0.8) translateY(-0) translateX(0);
  }

  @include toQHD {
    transform: scale(1.2) translateY(-0) translateX(0);
  }

  &-btn {
    margin-left: 0;
    margin-right: 1.6rem;
    margin-bottom: 0.6rem;

    @include toLarge {
      display: none;
    }

    @include toQHD {
      display: none;
    }
  }

  // &-white {
  //   fill: $ggwhite;

  // &:hover {
  //   transform: scale(1.2) translateY(-0.2rem) translateX(1rem) !important;
  //   fill: $orange;
  // }
  // }

  // &-orange {
  //   fill: $orange;
  // }

  // &-pink {
  //   fill: $hotpink;
  // }

  // &-blue {
  //   fill: $mainblue;
  // }

  // &-moves {
  //   transform: scale(1.2) translateY(-0.3rem) translateX(1rem) !important;
  // }

  // &-small {
  //   transform: translateY(-0.15rem) translateX(1rem) !important;
  //   margin-left: -1.6rem;
  //   margin-right: 2.4rem;
  // }
}

.up {
  transform: rotate(180deg);
}
