// #case-studies {
//   @include mobile {
//     display: none;
//   }
// }

.case {
  margin-top: 8rem;
  margin-bottom: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mobile {
    // margin-top: 80rem;
    margin-bottom: 40rem;
  }

  &-headline {
    display: block;
    width: 100%;
    padding: 4rem 0 0 4rem;

    @include mobile {
      padding: 4rem 0 16rem 4rem;
      margin-left: 0 !important;
    }

    &-title {
      font-size: $title;
      text-transform: uppercase;
      color: $hotpink;
      text-align: center;
    }
  }

  // &-row {
  //   margin-top: 4rem;
  // }

  &-list {
    z-index: 2;
    list-style: none;
    width: 100%;

    @include mobile {
      margin-left: 4rem;
      padding-right: 8rem;
    }

    &-item {
      &-button {
        display: block;
        text-align: left;
        transition: all 0.3s ease-out;

        &-link {
          color: $ggwhite;
          font-size: $bigTitle;

          @include mobile {
            font-size: 16rem;
          }

          &::before {
            background: $orange;
          }

          &:hover {
            z-index: 3;
            color: $orange;

            //   @include mobile {
            //     background: $ggblack;
            //     width: 100%;
            //   }

            //   svg {
            //     fill: $mainblue;
            //   }
          }

          // &:active,
          // &:focus,
          // &:visited {
          //   outline: none;
          // }
        }

        &-sub {
          margin-top: 1.6rem;
          color: rgba($ggwhite, 0.7);
          font-size: 2.4rem;
          line-height: 1.4;
          width: 50ch;

          @include mobile {
            font-size: 6rem;
            margin-top: 4rem;
          }
        }

        // &-active {

        //   border: none;
        // }
      }
    }
  }

  &-item {
    padding-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &-col {
    padding: 0 1.6rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;

    &-title {
      color: $pink;
    }

    &-framed {
      border: 1px solid $hotpink;
      align-items: center;
      justify-content: center;
      padding: 1.6rem;
      margin-bottom: 4rem;

      &-features {
        &-list {
          list-style: none;
          margin: 0;
          padding: 0;
          color: $mainblue;
          font-size: $mid;
          font-weight: 700;

          @include toLarge {
            font-size: $logo;
          }
        }
      }

      &-cta {
        flex-direction: row;
        justify-content: space-between;

        &-button {
          text-align: right;

          &-btn {
            background: $hotpink;
            border: 2px solid $hotpink;
            color: $ggwhite;
            padding: 0.8rem 6.4rem;

            @include mobile {
              display: none;
            }
          }

          &:hover {
            background: $ggwhite;

            a {
              color: $ggblack;
            }
          }
        }
      }
    }
  }
}

.border-bottom {
  min-height: 28rem;
  display: flex;
  align-items: flex-start;

  @include mobile {
    min-height: 48rem;
  }
}
