.caso {
  @include mobile {
    margin: 4rem 0;
  }

  &-row {
    width: 100%;
  }

  &-col {
    align-items: flex-end;
    // z-index: 999;

    &-title {
      color: $pink;
      font-size: 16rem;
      font-weight: 700;

      @supports (-webkit-text-stroke: 1px $pink) {
        -webkit-text-stroke: 2px $pink;
        -webkit-text-fill-color: $ggblack;
      }

      @include mobile {
        font-size: 24rem;
      }

      &-big {
        @include mobile {
          font-size: 30rem;
        }
      }

      &-sub {
        font-size: 4rem;
        color: $pink;
        // cursor: pointer;
        // user-select: all;

        @include toMid {
          font-size: 8rem;
        }

        @include mobile {
          font-size: 24rem;
          line-height: 48rem;
          text-align: center;
        }
      }

      &-mid {
        color: $pink;
        font-size: 12rem;
        font-weight: 700;

        /* @supports (-webkit-text-stroke: 1px $orange) {
          -webkit-text-stroke: 2px $orange;
          -webkit-text-fill-color: transparent;
        } */
      }

      &-shortdescr {
        font-size: 3rem;
        color: $ggwhite;
        width: 56ch;
        margin-top: 2rem;

        @include mobile {
          font-size: 8rem;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }

    &-highlight {
      font-size: 16rem;
      font-weight: 700;

      @include mobile {
        margin-left: 4rem;
        font-size: 32rem;
      }
    }

    &-text {
      font-size: $big;
      line-height: $bigger;
      margin: 4rem;

      @include mobile {
        font-size: 8rem;
        line-height: 12rem;
      }
    }

    &-descr {
      font-size: $bigger;
      // line-height: $bigTitle;
      line-height: 5.6rem;
      margin-right: 32rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
      list-style: square;
      margin-left: 0;

      @include mobile {
        font-size: 8rem;
        line-height: 12rem;
        margin-right: 0;
      }

      li {
        margin-left: 3.2rem;

        @include mobile {
          margin-left: 9.6rem;
        }
      }

      &-keywords {
        margin-top: 0;
        margin-bottom: 8rem;
        font-size: $bigger;
        line-height: $bigTitle;

        @include mobile {
          font-size: 8rem;
          line-height: 12rem;
        }
      }
    }

    &-grid {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 8rem;

      @include mobile {
        align-items: flex-start;
      }
    }
  }

  &-hero {
    padding: 0;
    margin: 0;
    margin-top: -32rem;
    z-index: 2;
    background: transparent;
    position: relative;

    &-image {
      margin-top: 80rem;

      @include mobile {
        margin-top: 200rem;
      }

      &-secondary {
        margin-top: 0;
      }
    }
  }

  &-img {
    padding: 0;
    margin: 0;
  }

  &-blockquote {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-text {
      font-size: 8rem;
      width: 70%;
    }

    &-author {
      margin-top: 8rem;
      font-size: 4rem;

      @include mobile {
        font-size: 8rem;
        font-weight: 700;
      }
    }

    &-role {
      font-size: 4rem;

      @include mobile {
        font-size: 6rem;
      }
    }
  }

  &-video {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

#caso-title {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;

  @include mobile {
    position: absolute;
  }
}

video,
.video {
  object-fit: cover;
  width: 100vw;
  user-select: none;

  @include mobile {
    height: auto;
  }
}

object.video {
  height: 100vh;
}

iframe,
iframe video {
  object-fit: cover;
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.three-quarter {
  font-size: 12rem;

  @include toMid {
    @supports (-webkit-text-stroke: 1px $mainblue) {
      -webkit-text-stroke: 1px $mainblue;
      -webkit-text-fill-color: $ggblack;
    }
  }

  @include mobile {
    font-size: 18rem;
  }
}

.half {
  font-size: 8rem;

  @include toMid {
    @supports (-webkit-text-stroke: 1px $mainblue) {
      -webkit-text-stroke: 1px $mainblue;
      -webkit-text-fill-color: $ggblack;
    }
  }

  @include mobile {
    font-size: 14rem;
  }

  @include sm {
    line-height: 2;
  }
}

.three-eight {
  font-size: 6rem;

  @include mobile {
    font-size: 9rem;
  }
}

.quarter {
  font-size: 4rem;

  @include mobile {
    font-size: 6rem;
  }
}

.black {
  background: $ggblack !important;
}

section#descr.caso.black,
.spacer16.black,
.caso-row.black,
.caso-col.black {
  background: $ggblack !important;
  z-index: 99999999;
}
