.check {
  background: $ggblack;

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-line {
    height: 32vh;
    margin-top: -8rem;
  }
}

.svg-text2 {
  stroke: $gggradient;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  transform-origin: 50% center;
  animation: dash 5s linear 0.5s forwards infinite;
  line-height: 1;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 textarea {
  width: 100%;
  margin: 4rem;
  margin-bottom: 4.8rem;
  margin-left: 0;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid $ggwhite;
  color: $ggwhite;
  font-size: $logo;

  @include toLarge {
    font-size: $big;
  }

  @include mobile {
    font-size: 8rem;
    margin-bottom: 16rem;
  }
}

.wpcf7 textarea {
  border: 1px solid $ggwhite;
  margin-left: 1.6rem;
  margin-top: 6.4rem;
  margin-bottom: 1.6rem;
}

.wpcf7-form .wpcf7-submit {
  width: 100%;
  margin: 2.4rem 1.6rem;
  background: $mainblue;
  color: $ggwhite;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  padding: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.contact-form22 {
  color: $ggwhite;
}
