.check {
  padding-top: 12rem;
  background: $ggwhite;
  color: $ggblack;
  display: flex;
  justify-content: center;

  /* @include toXL {
    padding-left: 4rem;
  } */

  @include mobile {
    padding: 32rem 0;
  }

  &-headline {
    display: flex;
    flex-direction: column;
    padding: 8rem;

    @include mobile {
      padding: 16rem;
    }

    &-subtitle {
      text-align: center;
      text-decoration: underline;
      font-size: $big;

      @include toLarge {
        font-size: $bigger;
      }

      @include mobile {
        font-size: 8rem;
        margin-bottom: 16rem;
      }
    }

    &-title {
      color: $mainblue;
      text-align: center;
      // text-transform: uppercase;
      font-size: 8rem;
      font-weight: 700;

      @include toQHD {
        font-size: $title;
      }

      @include mobile {
        font-size: 16rem;
        margin-bottom: 16rem;
      }

      br {
        display: none;

        @include mobile {
          display: block;
        }
      }

      span {
        @include mobile {
          font-size: 24rem;
        }
      }
    }

    &-descr {
      text-align: center;
      font-size: $logo;

      @include toLarge {
        font-size: $big;
      }

      @include mobile {
        font-size: 6rem;
        line-height: 8rem;
        margin-top: 8rem;
        text-align: left;
      }
    }
  }

  &-form {
    margin: auto;
    padding-bottom: 8rem;

    @include mobile {
      width: 100%;
      padding-bottom: 16rem;
    }

    &-col {
      form {
        display: flex;
        flex-direction: column;

        input {
          margin: 4rem;
          margin-bottom: 4.8rem;
          margin-left: 0;
          border: none;
          outline: none;
          background: transparent;
          border-bottom: 1px solid $ggblack;
          font-size: $logo;

          @include toLarge {
            font-size: $big;
          }

          @include mobile {
            font-size: 8rem;
            margin-bottom: 16rem;
          }
        }

        button {
          background: transparent;
          border: 4px solid $mainblue;
          color: $mainblue;
          padding: 1.6rem;
          margin: 6.4rem 4rem 0 0;
          border-radius: 0.8rem;
          font-size: 2.4rem;

          @include toLarge {
            padding: 2rem 6.4rem;
            border: 5.6rem;
          }

          @include toQHD {
            padding: 1.2rem 3.2rem;
            border: 5.6rem;
          }

          @include mobile {
            border-radius: 2.4rem;
            padding: 8rem 4rem;
            border: 2px solid $mainblue;
          }

          &:hover {
            background: rgba($mainblue, 0.2);
            border-color: $mainblue;
          }
        }
      }
    }

    &-paragraph {
      font-size: $mid;
      width: 80%;

      @include toLarge {
        font-size: $mid;
      }

      @include mobile {
        font-size: 6rem;
        line-height: 8rem;
        padding-top: 16rem;
        padding-bottom: 16rem;
      }
    }
  }

  &-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      padding-bottom: 16rem;
    }

    &-left {
      padding-top: 4rem;
    }

    &-right {
      padding-right: 10%;
    }

    &-paragraph {
      width: 80%;
      margin-left: 15%;
      font-size: $big;
      margin-bottom: 2rem;
      letter-spacing: 0.05rem;
      line-height: $bigger;

      @include toQHD {
        font-size: $logo;
        line-height: $big;
      }

      @include mobile {
        width: 100%;
        margin-left: 0;
        font-size: 8rem;
        line-height: 12rem;
      }
    }
  }

  &-row {
    align-items: flex-start;
    justify-content: center;

    @include mobile {
      padding: 16rem;
    }
  }
}

.audio {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8rem;
  z-index: 4;
  cursor: pointer;

  &-text {
    font-size: 4rem;
    color: $hotpink;
  }
}

.submit {
  &-text {
    @include mobile {
      font-size: 8rem;
    }
  }
}

.colonna_1 p,
.colonna_2 p,
.colonna_2 a {
  @include mobile {
    font-size: 8rem !important;
    line-height: 1.2;
  }
}

.wpcf7-form-control.has-spinner.wpcf7-submit {
  @include mobile {
    padding: 8rem;
    font-size: 8rem;
    border-radius: 2rem;
  }
}
