.clients {
  background: $ggblack;
  margin-top: 8rem;
  margin-bottom: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding-top: 32rem;
    padding-bottom: 32rem;
  }

  &-headline {
    display: block;
    width: 100%;
    padding: 4rem 0 0 4rem;

    @include toMid {
      padding: 4rem;
    }

    &-title {
      font-size: $title;
      text-transform: uppercase;
      color: $mainblue;
      text-align: center;

      @include toLarge {
        font-size: $bigTitle;
      }

      @include mobile {
        font-size: 16rem;
      }
    }
  }

  &-row {
    margin-top: 8rem;
    justify-content: center;
  }

  &-col {
    padding: 0 4.8rem;
    // padding-bottom: 4.8rem;
    display: flex;
    justify-content: center;

    @include toQHD {
      width: 20%;
    }

    @include mobile {
      width: 50%;
    }
  }

  &-img {
    margin: auto;
    border-radius: 2rem;

    @include toQHD {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }
}
