.cosa {
  position: relative;
  height: 86vh;
  width: 100%;

  @include mobile {
    height: 100vh;
  }

  &-headline {
    @include mobile {
      display: none;
    }
  }

  &-wrapper {
    min-height: 100vh;
    padding-bottom: calc(14vh + 8rem);
  }

  &-title {
    &-olBlue {
      font-size: 16rem;
      color: $mainblue;
      font-weight: 700;

      @include olBlue {
        -webkit-text-stroke: 2px $mainblue;
        -webkit-text-fill-color: transparent;
      }
    }

    &-olOrange {
      font-size: 16rem;
      color: $orange;
      font-weight: 700;

      @include olBlue {
        -webkit-text-stroke: 2px $orange;
        -webkit-text-fill-color: transparent;
      }
    }

    &-olPink {
      font-size: 16rem;
      color: $hotpink;
      font-weight: 700;

      @include olBlue {
        -webkit-text-stroke: 2px $hotpink;
        -webkit-text-fill-color: transparent;
      }
    }

    @include mobile {
      font-size: 20rem;
    }
  }

  &-descr {
    position: absolute;
    top: 33%;
    right: 0;
    width: 30%;
    // border: 1px solid $orange;
    margin-left: auto;
    padding: 4rem;

    @include mobile {
      top: 20%;
      width: 100%;
      border: none;
    }

    &-text {
      color: $ggwhite;
      font-size: $bigger;
      line-height: $title;

      @include mobile {
        font-size: 24rem;
        line-height: 28rem;
        margin-top: 16rem;
      }
    }
  }
}

#title-marketing {
  position: absolute;
  top: 40%;
  left: 0;
  color: $mainblue;
  visibility: hidden;

  @include mobile {
    transform: rotate(0);
    top: 60%;
  }
}

#title-comunicazione {
  position: absolute;
  top: 70%;
  right: 0;
  color: $orange;
  visibility: hidden;

  @include mobile {
    top: 80%;
    left: 0;
  }
}

#title-design {
  position: absolute;
  top: 40%;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: 60% 0;
  color: $hotpink;
  visibility: hidden;

  @include mobile {
    transform: rotate(0);
    top: 70%;
  }
}

#title-audiovideo {
  position: absolute;
  top: 66%;
  right: 33%;
  transform: rotate(-90deg);
  transform-origin: 60% -20%;
  color: $mainblue;
  visibility: hidden;

  @include mobile {
    top: 90%;
    left: 0;
    transform: rotate(0);
  }
}
