.contact-form22 {
  @include toQHD {
    font-size: 2.4rem !important;
    line-height: 1.4 !important;
    width: 100% !important;
  }
}

.wpcf7-acceptance {
  input[type="checkbox"] {
    @include toQHD {
      width: 2rem !important;
      height: 2rem !important;
      margin-right: 1.6rem;
    }
  }
}
