#gruppo {
  @include mobile {
    display: none;
  }
}

.gruppo {
  margin-top: 8rem;
  margin-bottom: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-headline {
    display: block;
    width: 100%;
    padding: 4rem 0;
    margin-bottom: 8rem;

    &-title {
      font-size: $title;
      text-transform: uppercase;
      color: $mainblue;
      text-align: center;

      @include toLarge {
        font-size: $bigTitle;
      }
    }
  }

  &-row {
    padding: 4rem;
  }

  &-col {
    &-descr {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-motto {
        font-size: $bigTitle;
        color: $mainblue;
      }

      &-img {
        width: 20%;
      }
    }
  }
}
