.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &-content {
    height: 92vh;
    display: flex;
    align-items: center;

    &-motto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;

      @include mobile {
        width: 100%;
        height: 100%;
      }

      &-title {
        color: $mainblue;
        font-size: 20rem;
        font-weight: 700;

        @supports (-webkit-text-stroke: 1px $mainblue) {
          -webkit-text-stroke: 2px $mainblue;
          -webkit-text-fill-color: $ggblack;
        }
      }
    }

    &-button {
      &-link {
        font-size: $big;
        line-height: $bigger;
        font-weight: 700;

        @include toMid {
          font-size: 6rem;
        }

        @include mobile {
          font-size: 8rem;
        }

        &-l {
          text-align: left;
        }
      }
    }
  }
}
