.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100vh;

  h1,
  h2 {
    font-size: 10vw;
  }
}

.heronew {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &-subject {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    right: 0;
    // transform: translateX(-50%) translateY(-50%);
    // background: $ggwhite;
    color: $mainblue;
    z-index: -1;

    @include mobile {
      width: auto;
    }

    // &-img {
    //   // height: 100%;
    //   // margin-left: -33%;
    // }
  }

  &-gg {
    width: 100%;
    height: 100%;
  }

  &-area {
    display: flex;

    &-keyword {
      // height: 40vh;

      &-text {
        font-size: 16rem;
        font-weight: 700;
        letter-spacing: 0;
        stroke: url(#MyGradient);
      }
    }
  }
}

#banner-top {
  transform: translateX(0);
}

.marquee {
  overflow: hidden;

  @include mobile {
    min-height: auto;
  }

  h1,
  h2 {
    background-color: ggblack;
    flex-shrink: 0;
    line-height: 0.9 !important;
  }
}

.marquee-track {
  align-items: center;
  display: flex;
  justify-content: center;
}
