.modal {
  &-dialog {
    max-width: 1980px;
    margin: 2.4rem auto;

    @include mobile {
      margin-top: calc(50vh - 30%);
    }

    @include landscape {
      margin-top: 0;
      max-width: 80%;
    }

    @include modal {
      max-width: 1980px;
      margin: 2.4rem auto;
    }
  }

  &-body {
    position: relative;
    padding: 0;
  }
}

.close {
  position: absolute;
  right: 8rem;
  top: 8rem;
  z-index: 4;
  // font-size: 8rem;
  // font-weight: normal;
  // color: $ggwhite;
  opacity: 1;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  @include mobile {
    right: 16rem;
    top: 8rem;
  }
}

.closevideo {
  cursor: pointer;
  position: relative;
  // position: absolute;
  // top: 0;
  // right: 0;
  // margin-top: 2.4rem;
  // margin-right: 2.4rem;
  width: 4rem;
  height: 4rem;
  transition: all 0.3s ease-out;
  z-index: 4;

  @include mobile {
    width: 12rem;
    height: 12rem;
  }

  &-line1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 0.4rem;
    background: $ggwhite;
    transform: translateX(0.8rem) translateY(0.4rem) rotate(45deg);
    transform-origin: top left;
    transition: all 0.3s ease-out;

    @include mobile {
      width: 16rem;
      height: 1.6rem;
    }
  }

  &-line2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 0.4rem;
    background: $ggwhite;
    transform: translateX(-0.8rem) translateY(0.4rem) rotate(-45deg);
    transform-origin: top right;
    transition: all 0.3s ease-out;

    @include mobile {
      width: 16rem;
      height: 1.6rem;
      transform: translateX(-4.8rem) translateY(0.4rem) rotate(-45deg);
    }
  }
}

.show-video {
  transform: translateX(100%);
}

.close-video {
  transform: scale(0);
}

// VIMEO TEST

.player .vp-controls-wrapper {
  display: none !important;
}
