.nl {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    justify-content: flex-start;
  }

  &-btn {
    padding: 2rem auto;
    margin: 0 auto 4rem;
    font-weight: 600;

    @include mobile {
      margin-top: 16rem;
      margin-left: 0;
    }
  }
}
