.no-button {
  border: none;
  outline: none;
  background: none;
  display: inline;
  padding-left: 0;
  padding-right: 0;
  text-align: left;

  @include mobile {
    width: 90vw;
  }

  a {
    @include mobile {
      font-size: 9.6rem;
    }
  }

  &:hover {
    a {
      color: $orange;
    }

    svg {
      fill: $orange;
    }
  }
}
