.area404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  &-form {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
  }

  &-field {
    min-width: 56rem;
    padding: 1.6rem 3.2rem;
    background: $hotpink;
    border: none;
    color: $ggwhite;
    font-weight: 700;
    border-radius: 0.4rem;
    font-size: 2.4rem;
  }

  &-submit {
    background: $ggwhite;
    color: $ggblack;
    border: none;
    border-radius: 0.4rem;
    font-size: 2.4rem;
    padding: 1.8rem 3.2rem;
    margin-left: 0.4rem;
  }
}

::placeholder {
  color: $ggwhite;
}
