.servizi {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-headline {
    display: block;
    width: 100%;

    @include mobile {
      padding-bottom: 32rem;
    }

    &-title {
      font-size: $title;
      text-transform: uppercase;
      color: $hotpink;
      text-align: center;

      @include toLarge {
        font-size: $bigTitle;
      }

      @include mobile {
        font-size: 18rem;
      }
    }
  }

  &-nav {
    padding: 2rem 0;
    text-align: center;

    @include mobile {
      display: none;
    }

    &-btn {
      background: transparent;
      border: none !important;
      outline: none !important;
      color: $ggwhite;
      font-size: $logo;
      text-transform: uppercase;

      @include toLarge {
        font-size: $big;
      }

      @include toXL {
        font-size: $bigger;
      }

      &:active {
        border: none !important;
        outline: none !important;
        color: $orange !important;
      }
    }
  }

  &-section {
    // width: 100%;
    min-height: 20%;
    position: relative;
  }

  &-col {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 78vh;
  }

  &-descr {
    width: 70%;

    @include mobile {
      width: 100%;
      padding-bottom: 40rem;
    }

    &-text {
      font-size: $bigger;
      line-height: 4.8rem;

      @include toQHD {
        font-size: $big;
        line-height: 4rem;
      }

      @include mobile {
        font-size: 12rem;
        line-height: 16rem;
      }
    }

    &-heading {
      &-text {
        color: $mainblue;
        text-transform: uppercase;

        @include toLarge {
          font-size: $big;
        }

        @include toXL {
          font-size: $bigger;
        }

        @include mobile {
          font-size: 12rem;
          line-height: 16rem;
        }
      }
    }
  }

  &-img {
    &-area {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      @include mobile {
        padding-bottom: 80rem;
      }

      &-heading {
        font-size: 16rem;
        font-weight: 700;
        letter-spacing: 0;
        stroke: url(#MyGradient);
      }
    }
  }

  &-cta {
    padding: 4.8rem;
    margin-bottom: 4.8rem;

    @include mobile {
      padding-bottom: 80rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-button {
    float: right;
    background: $hotpink;
    border: 2px solid $hotpink;
    color: $ggwhite;
    padding: 0.8rem 6.4rem;

    @include mobile {
      float: left;
    }

    &:hover {
      background: $ggwhite;

      a {
        color: $ggblack;
      }

      svg {
        fill: $ggblack;
      }
    }
  }
}

.hide {
  display: none;
}

.svg-text {
  stroke: $gggradient;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  transform-origin: 50% center;
  animation: dash 5s linear 0.5s forwards infinite;
}

// .animate-svg {
//   // stroke: $gggradient;
//   // stroke-dasharray: 2000;
//   // stroke-dashoffset: 2000;
//   transform-origin: 50% center;
//   opacity: 1;
//   animation: dash 2s linear forwards;
// }

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-gradient {
  stroke: linear-gradient(0.25turn, #ebf8e1, #f69d3c, #3f87a6);
}
