.twocols {
  padding-top: 8rem;

  @include toQHD {
    padding-top: 20vh;
  }

  @include mobile {
    padding-top: 32rem;
    padding-bottom: 32rem;
  }

  &-row {
    padding-top: 8rem;

    &-vh {
      min-height: 80vh;

      @include toQHD {
        min-height: 50vh;
      }

      &-caso {
        @include mobile {
          padding-top: 32rem;
          min-height: auto;
        }
      }
    }

    &-r {
      padding-top: 8rem;
      justify-content: flex-end;
    }

    &-inverse {
      padding-top: 8rem;
      flex-direction: row-reverse;
    }

    &-title {
      font-size: $hero;
      color: $mainblue;
      text-transform: uppercase;

      @include mobile {
        font-size: 16rem;
        padding-left: 8rem;
        padding-right: 8rem;
        margin-bottom: 8rem;
      }
    }
  }

  &-col {
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-self: flex-end;

    @include toLarge {
      align-self: center;
    }

    @include mobile {
      padding-bottom: 16rem;
    }

    &-centeralign {
      align-self: center;

      &-caso {
        @include mobile {
          margin-bottom: 16rem;
        }
      }

      &-heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
          padding-bottom: 32rem;
        }
      }

      &-border {
        align-self: center;
        padding-left: 12rem;
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;
        padding-right: 3.2rem;
      }
    }

    &-title {
      font-size: $hero;
      max-width: 80rem;
      color: $mainblue;
      font-weight: 400;
      line-height: 14.4rem;

      @include mobile {
        font-size: 16rem;
        line-height: 20rem;
      }

      &-caso {
        @include mobile {
          font-size: 32rem;
          line-height: 40rem;
          margin-top: 32rem;
        }
      }

      &-sub {
        padding-top: 2.4rem;
        font-size: $title;
        font-weight: 400;
        color: $mainblue;

        &-caso {
          @include mobile {
            font-size: 8rem;
            line-height: 12rem;
          }
        }
      }
    }

    &-descr {
      width: 80%;
      font-size: $big;
      line-height: $title;

      @include toLarge {
        font-size: $bigger;
      }

      @include toXL {
        width: 60%;
      }

      @include toQHD {
        width: 100%;
        font-size: $logo;
        line-height: $bigger;
      }

      @include mobile {
        font-size: 8rem !important;
        line-height: 12rem;
        width: 100%;
      }

      &-l {
        margin-right: auto;

        @include toLarge {
          font-size: $bigger;
        }
      }

      &-r {
        margin-left: auto;

        @include toLarge {
          font-size: $bigger;
        }
      }
    }
  }
}

.design h1,
.audiovideo h1 {
  color: $hotpink;
}

.comunicazione h1 {
  color: $orange;
}

.leftpadding {
  padding-left: 8rem;
}

.caso-studio {
  align-self: flex-start;
}
