.workflow {
  // padding-top: 12rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  &-box {
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;

    @include mobile {
      min-height: auto;
      padding-right: 8rem;
    }

    &-icon {
      // width: 25%;
      text-align: center;
      transform: scale(0.6);
      transition: all 0.3s ease-out;
      margin-left: auto;
      padding: 0;

      @include mobile {
        height: 16rem;
        width: 75%;
      }

      svg {
        @include mobile {
          transform: scale(0.8);
        }
      }

      &:hover {
        transform: scale(0.65);
      }
    }

    &-description {
      padding-left: 16rem;
      // width: 75%;
      display: flex;
      flex-direction: column;

      @include mobile {
        min-height: 40vh;
      }

      &-title {
        display: inline;
        line-height: 1.5;
        font-size: 16rem;
        font-weight: 700;
        position: relative;

        @include mobile {
          font-size: 20rem;
        }

        /* &::before {
          display: inline-block;
          bottom: -3px;
          width: 0;
          height: 3px;
          content: "";
          position: absolute;
          left: 0;
          background: $ggwhite;
          transition: all 0.3s ease-out;
        }

        &:hover {
          text-decoration: none;

          &::before {
            width: 100%;
          }
        } */
      }

      &-text {
        width: 60%;
        font-size: $big;
        line-height: $title;
        opacity: 0;

        @include toMid {
          width: 72%;
          font-size: 4rem;
          line-height: 6rem;
        }

        @include mobile {
          width: 100%;
          font-size: 8rem;
          line-height: 12rem;
        }
      }
    }
  }

  &-icon {
    @include mobile {
      width: 70%;
    }
  }
}
