::-moz-selection {
  background: #1e2122; /* Gecko Browsers */
}

* {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #1e2122; /* WebKit/Blink Browsers */
}

/*
 * Globals
 */
html {
  font-size: $size;
  line-height: 1;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  background: $ggblack;
  color: $ggwhite;
  font-family: $barlow, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

iframe {
  min-height: 100vh;
}

.fluid-pads {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pr-0-on-mobile {
  padding-right: 0 !important;
}

.pl-on-mobile {
  @include mobile {
    padding-left: 12rem !important;
  }
}

.menu-item a {
  @include toMid {
    font-size: 8rem !important;
    line-height: 2 !important;
  }

  @include mobile {
    font-size: 16rem !important;
    line-height: 2 !important;
  }
}
