a,
.pseudo-a {
  position: relative;
  color: $hotpink;
  font-size: $big;
  transition: all 0.3s ease-out;

  @include mobile {
    font-size: 12rem;
  }

  &::before {
    display: block;
    bottom: -3px;
    width: 0;
    height: 1px;
    content: "";
    position: absolute;
    left: 0;
    background: $orange;
    transition: all 0.3s ease-out;
  }

  &:hover {
    color: $orange;
    text-decoration: none;

    &::before {
      width: 100%;
    }
  }
}

.pseudo-a-nobefore {
  position: relative;
  color: $hotpink;
  font-size: $big;
  transition: all 0.3s ease-out;

  @include mobile {
    font-size: 12rem;
  }

  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

.secondary-link {
  font-size: $logo !important;

  @include mobile {
    font-size: 8rem !important;
  }
}

#brand-logo {
  &::before {
    display: none;
  }
}

button {
  border: none;
  background: transparent;
  text-decoration: none;
}

.cta {
  // padding-top: 16rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding: 8rem;
    align-items: center;
  }

  &-row {
    text-align: center;
    width: 100%;
    padding: 4rem 0;
  }

  &-motto {
    font-size: $big;

    @include mobile {
      font-size: 8rem;
      margin-bottom: 8rem;
    }
  }

  &-button {
    background: $hotpink;
    border: 2px solid $hotpink;
    color: $ggwhite;
    padding: 0.8rem 6.4rem;

    @include toLarge {
      padding: 1.6rem 6.4rem;
    }

    @include mobile {
      padding: 6.4rem 12.8rem;
      border-radius: 24rem;
    }

    &:hover {
      background: $ggwhite;

      a {
        color: $ggblack;
      }

      svg {
        fill: $ggblack;
      }
    }
  }

  &-link {
    @include toMid {
      font-size: 8rem;
    }

    @include mobile {
      font-size: 8rem;
    }
  }
}
