p {
  font-size: $mid;
  line-height: $big;

  @include toLarge {
    font-size: $logo;
    line-height: $bigger;
  }

  @include toXL {
    font-size: $big;
    line-height: $bigger;
  }
}

.uppercase {
  text-transform: uppercase;
}

.strikethrough {
  text-decoration: line-through;
}

.underlined {
  text-decoration: underline;
}

.thin {
  font-weight: 400;
}

.small-prints-link {
  color: $mainblue;
  font-weight: 700;
  font-size: $mid;

  @include toLarge {
    font-size: $mid;
  }

  @include mobile {
    font-size: 6rem;
    line-height: 8rem;
  }
}

.lh10 {
  line-height: 1 !important;
  margin-bottom: 4rem !important;

  @include mobile {
    margin-bottom: 16rem !important;
  }
}

.lh20 {
  line-height: 2 !important;
  margin-bottom: 8rem !important;

  @include mobile {
    margin-bottom: 32rem !important;
  }
}
